{% extends "flashcards/layout.html" %}
{% load static %}

{% block body %}
    <div class="container">
        <p class="mt-3 mb-4" id="vocabulary-summary">
          <span class="username">{{ user.username }}</span>, you have learned <span class="count">{{ card_count }}</span> vocabulary words by now:
        </p>
        
        <div class="list-group mb-3">
          {% for flashcard in page_obj %}
            <a class="list-group-item list-group-item-action" aria-current="true">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ flashcard.english_word }}</h5>
                <small>{{ flashcard.last_studied|timesince }} ago</small>
              </div>
              <p class="mb-1">Translation: {{ flashcard.translation }}</p>
            </a>
          {% empty %}
            <p>You haven't learned any word by now</p>
          {% endfor %}
        </div>

        <!-- Paginacion -->
        <nav aria-label="Page navigation example">
          <ul class="pagination">
              {% if page_obj.has_previous %}
                  <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
                  <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
              {% endif %}

              <li class="page-item">
                  <a class="page-link">
                      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                  </a>
              </li>

              {% if page_obj.has_next %}
                  <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                  <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
              {% endif %}
          </ul>
        </nav>
    </div>
{% endblock %}